<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thh.ipcdemo2aidl">

    <uses-permission android:name="com.thh.ipcdemo2aidl.permission.BOOK_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".IService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.thh.ipcdemo2aidl.permission.BOOK_SERVICE"
            android:process=":remote">

            <intent-filter>
                <action android:name="com.thh.ipcdemo2aidl.action.BOOK_SERVICE" />
            </intent-filter>

        </service>
    </application>

    <permission
        android:name="com.thh.ipcdemo2aidl.permission.BOOK_SERVICE"
        android:protectionLevel="normal" />
</manifest>
